<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars Quotes</title>
    <link rel="icon" href="fav_icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <ul class="nav my-2">
        <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/all">Quotes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/find">Find</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/quiz">Quiz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/add">Add</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/comingsoon">Coming Soon</a>
        </li>
    </ul>
    