<% include partials/header %>

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center py-5">
        <blockquote class="blockquote text-white">
            <h1>Error 404</h1>
            <h2>Page not found</h2>
        </blockquote>
        <br>
        <div class="text-center">
            <a class="btn btn-outline-light text-white" href="/">Go Home</a>
        </div>
    </div>
</div> 

<% include partials/footer %>